<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>bg_color</key>
			<string>#8F8578</string>
			<key>collect</key>
			<string>662</string>
			<key>hand_id</key>
			<string>215489</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/Public/data/hand/201507/13/main/1436758430116377759762_593.jpg</string>
			<key>host_pic_color</key>
			<string>#8F8578</string>
			<key>last_id</key>
			<string>1</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>【Xiaox手作】教你做超简单又美美哒多肉肉~</string>
			<key>user_id</key>
			<string>1163777</string>
			<key>user_name</key>
			<string>小小</string>
			<key>view</key>
			<string>31342</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#9C8F75</string>
			<key>collect</key>
			<string>207</string>
			<key>hand_id</key>
			<string>216545</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/16/host/143702848011461_593.jpg</string>
			<key>host_pic_color</key>
			<string>#9C8F75</string>
			<key>last_id</key>
			<string>2</string>
			<key>subject</key>
			<string>隔壁家奶茶店——港澳の饮</string>
			<key>user_id</key>
			<string>13657377</string>
			<key>user_name</key>
			<string>V</string>
			<key>view</key>
			<string>31094</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#7D6F5B</string>
			<key>collect</key>
			<string>502</string>
			<key>hand_id</key>
			<string>214767</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/Public/data/hand/201507/10/main/143653632718062820183_593.jpg</string>
			<key>host_pic_color</key>
			<string>#7D6F5B</string>
			<key>last_id</key>
			<string>3</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>交叉式装订 | 一种特别的线装</string>
			<key>user_id</key>
			<string>180628</string>
			<key>user_name</key>
			<string>龙王手作</string>
			<key>view</key>
			<string>23174</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#838370</string>
			<key>collect</key>
			<string>271</string>
			<key>hand_id</key>
			<string>216002</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/14/host/143687433412432_593.jpg</string>
			<key>host_pic_color</key>
			<string>#838370</string>
			<key>last_id</key>
			<string>4</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>我的宝位，即使搬了宿舍也记得</string>
			<key>user_id</key>
			<string>13754275</string>
			<key>user_name</key>
			<string>№绝尘￡</string>
			<key>view</key>
			<string>21821</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#6A6458</string>
			<key>collect</key>
			<string>89</string>
			<key>hand_id</key>
			<string>215657</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/16/host/143705090779705_593.jpg</string>
			<key>host_pic_color</key>
			<string>#6A6458</string>
			<key>last_id</key>
			<string>5</string>
			<key>subject</key>
			<string>收纳盒，可以装一些小东西</string>
			<key>user_id</key>
			<string>13882651</string>
			<key>user_name</key>
			<string>如今丶的相爱i</string>
			<key>view</key>
			<string>20622</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#595F5B</string>
			<key>collect</key>
			<string>224</string>
			<key>hand_id</key>
			<string>210045</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/10/host/143651083115099_593.jpg</string>
			<key>host_pic_color</key>
			<string>#595F5B</string>
			<key>last_id</key>
			<string>6</string>
			<key>subject</key>
			<string>手工小陶壶制作全攻略</string>
			<key>user_id</key>
			<string>14926409</string>
			<key>user_name</key>
			<string>Hand-Made&amp;三野</string>
			<key>view</key>
			<string>19458</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#A39B92</string>
			<key>collect</key>
			<string>423</string>
			<key>hand_id</key>
			<string>216186</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/15/host/143693617718651_593.jpg</string>
			<key>host_pic_color</key>
			<string>#A39B92</string>
			<key>last_id</key>
			<string>7</string>
			<key>subject</key>
			<string>彩铅绘——古有美人</string>
			<key>user_id</key>
			<string>13845875</string>
			<key>user_name</key>
			<string>夏達</string>
			<key>view</key>
			<string>16308</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#494955</string>
			<key>collect</key>
			<string>296</string>
			<key>hand_id</key>
			<string>214784</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/11/host/143654567374861_593.jpg</string>
			<key>host_pic_color</key>
			<string>#494955</string>
			<key>last_id</key>
			<string>8</string>
			<key>subject</key>
			<string>美哒哒心形硫酸铜晶簇</string>
			<key>user_id</key>
			<string>980648</string>
			<key>user_name</key>
			<string>米苏</string>
			<key>view</key>
			<string>15171</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#736136</string>
			<key>collect</key>
			<string>265</string>
			<key>hand_id</key>
			<string>215262</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/12/host/143668671697721_593.jpg</string>
			<key>host_pic_color</key>
			<string>#736136</string>
			<key>last_id</key>
			<string>9</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>1</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>35.00</string>
			</dict>
			<key>subject</key>
			<string>给你一个温暖的大白之不织布手机挎包教程</string>
			<key>user_id</key>
			<string>1214529</string>
			<key>user_name</key>
			<string>Diamond C 💎</string>
			<key>view</key>
			<string>14945</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#806141</string>
			<key>collect</key>
			<string>215</string>
			<key>hand_id</key>
			<string>214797</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/11/host/143659145912588_593.jpg</string>
			<key>host_pic_color</key>
			<string>#806141</string>
			<key>last_id</key>
			<string>10</string>
			<key>subject</key>
			<string>蓝莓cheese cake</string>
			<key>user_id</key>
			<string>1039716</string>
			<key>user_name</key>
			<string>☆星夜摩羯☆</string>
			<key>view</key>
			<string>13375</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#8B5F32</string>
			<key>collect</key>
			<string>97</string>
			<key>hand_id</key>
			<string>216215</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/15/host/143694214518730_593.jpg</string>
			<key>host_pic_color</key>
			<string>#8B5F32</string>
			<key>last_id</key>
			<string>11</string>
			<key>subject</key>
			<string>开放式sandwich</string>
			<key>user_id</key>
			<string>906175</string>
			<key>user_name</key>
			<string>山谷手作</string>
			<key>view</key>
			<string>13325</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#8F737C</string>
			<key>collect</key>
			<string>70</string>
			<key>hand_id</key>
			<string>215615</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/13/host/143678095374763_593.jpg</string>
			<key>host_pic_color</key>
			<string>#8F737C</string>
			<key>last_id</key>
			<string>12</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>【甘甘🌸手作】且简单🌸且唯美</string>
			<key>user_id</key>
			<string>1228086</string>
			<key>user_name</key>
			<string>甘甘🌸手作</string>
			<key>view</key>
			<string>13047</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#526957</string>
			<key>collect</key>
			<string>153</string>
			<key>hand_id</key>
			<string>214644</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/10/host/143651977815488_593.jpg</string>
			<key>host_pic_color</key>
			<string>#526957</string>
			<key>last_id</key>
			<string>13</string>
			<key>subject</key>
			<string>森系月蓉花锁骨链</string>
			<key>user_id</key>
			<string>1357212</string>
			<key>user_name</key>
			<string>水色</string>
			<key>view</key>
			<string>12365</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#71695D</string>
			<key>collect</key>
			<string>191</string>
			<key>hand_id</key>
			<string>215027</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/11/host/143661466255021_593.jpg</string>
			<key>host_pic_color</key>
			<string>#71695D</string>
			<key>last_id</key>
			<string>14</string>
			<key>subject</key>
			<string>迷你花系列「马蹄莲」</string>
			<key>user_id</key>
			<string>1090746</string>
			<key>user_name</key>
			<string>纸蔷薇</string>
			<key>view</key>
			<string>12296</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#525340</string>
			<key>collect</key>
			<string>26</string>
			<key>hand_id</key>
			<string>215079</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/12/host/143667300752669_593.jpg</string>
			<key>host_pic_color</key>
			<string>#525340</string>
			<key>last_id</key>
			<string>15</string>
			<key>subject</key>
			<string> 粘土 帅气西装小黄人</string>
			<key>user_id</key>
			<string>14905862</string>
			<key>user_name</key>
			<string>未晞</string>
			<key>view</key>
			<string>12010</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#706843</string>
			<key>collect</key>
			<string>326</string>
			<key>hand_id</key>
			<string>215075</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/11/host/143662617335556_593.jpg</string>
			<key>host_pic_color</key>
			<string>#706843</string>
			<key>last_id</key>
			<string>16</string>
			<key>subject</key>
			<string>彩虹冰✨---夏天解暑美食✨</string>
			<key>user_id</key>
			<string>819890</string>
			<key>user_name</key>
			<string>Asuna</string>
			<key>view</key>
			<string>11927</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#5B5848</string>
			<key>collect</key>
			<string>190</string>
			<key>hand_id</key>
			<string>215426</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/13/host/143674015699180_593.jpg</string>
			<key>host_pic_color</key>
			<string>#5B5848</string>
			<key>last_id</key>
			<string>17</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>0</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>0.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>手鞠八重菊</string>
			<key>user_id</key>
			<string>1350661</string>
			<key>user_name</key>
			<string>喵喵</string>
			<key>view</key>
			<string>11799</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#796952</string>
			<key>collect</key>
			<string>152</string>
			<key>hand_id</key>
			<string>216341</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/15/host/143696396074828_593.jpg</string>
			<key>host_pic_color</key>
			<string>#796952</string>
			<key>last_id</key>
			<string>18</string>
			<key>shopping</key>
			<dict>
				<key>is_sale_material</key>
				<integer>1</integer>
				<key>is_sale_pro</key>
				<integer>0</integer>
				<key>price_material</key>
				<string>25.00</string>
				<key>price_pro</key>
				<string>0.00</string>
			</dict>
			<key>subject</key>
			<string>个性绳编幸运项链～『三版』</string>
			<key>user_id</key>
			<string>809899</string>
			<key>user_name</key>
			<string>DestinyG</string>
			<key>view</key>
			<string>11413</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#75736F</string>
			<key>collect</key>
			<string>241</string>
			<key>hand_id</key>
			<string>214758</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/10/host/143653609192915_593.jpg</string>
			<key>host_pic_color</key>
			<string>#75736F</string>
			<key>last_id</key>
			<string>19</string>
			<key>subject</key>
			<string>【转载】多种漂亮的瓶子</string>
			<key>user_id</key>
			<string>14878995</string>
			<key>user_name</key>
			<string>高冷傲娇学霸</string>
			<key>view</key>
			<string>11354</string>
		</dict>
		<dict>
			<key>bg_color</key>
			<string>#A44F52</string>
			<key>collect</key>
			<string>166</string>
			<key>hand_id</key>
			<string>215460</string>
			<key>host_pic</key>
			<string>http://img2.shougongke.com/public/data/hand/201507/13/host/143678026382385_593.jpg</string>
			<key>host_pic_color</key>
			<string>#A44F52</string>
			<key>last_id</key>
			<string>20</string>
			<key>subject</key>
			<string>踏雪寻梅（二）——森女风项链</string>
			<key>user_id</key>
			<string>906175</string>
			<key>user_name</key>
			<string>山谷手作</string>
			<key>view</key>
			<string>10485</string>
		</dict>
	</array>
	<key>info</key>
	<string></string>
	<key>status</key>
	<integer>1</integer>
</dict>
</plist>
